streamlit
langchain
langchain-community
langchain-groq
langchain-huggingface
langchain-text-splitters
faiss-cpu
sentence-transformers
tavily-python
pypdf
pdfplumber
wikipedia
python-dotenv


