streamlit
langchain
langchain-community
langchain-huggingface
langchain-text-splitters
faiss-cpu
sentence-transformers
tavily-python
pypdf
pdfplumber
wikipedia
python-dotenv
groq==0.9.0



